<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.kom"
    version   = "1.0.0">

<name>Agenda de Actividades</name>

<description>
Agenda de Actividades
</description>

<author href="" email="">
Karina Osuna Munoz
</author>


<plugin name="cordova-plugin-dialogs" spec="~1.3.3" />
<plugin name="cordova-plugin-inappbrowser" spec="~3.0.0" />
 <icon src="images/act.png" gap:platform="android" gap:density="hdpi" />





</widget>
